.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.jumbotron {
  height: 100vh;
  background-image: url('../images/pohuto_geiser.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  padding: 0;
  margin: 0 !important;
}

.profile-image {
  border-radius: 50%;
  height: 50vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

html {
  background-color:#3e4450;
}

body {
  background-color: white;
}

.footer {
  background-color: #3e4450;
  color: white;
  min-height: 30vh;
  font-size: 16px;
}

.footer-body {
  margin-bottom: 30px;
}

.footer-column {
  padding: 50px 8% 0 !important;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cake-icon {
  font-size: 100px;
}

.copyright {
  padding-right: 4vw;
  text-align: right;
}

.modal-open {
  overflow: hidden;
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .modal-open {
    margin-right: 0px;
  }
}