.general-info-body {
    background-color: green;
    color: white; 
    font-size: 16px;
    padding: 50px 0;
}

.info-block {
    padding: 0 8% !important;
}

.fa-icon {
    font-size: 60px;
    margin: 15% 0;
}

.fa-small-i-icon {
    font-size: 20px;
}

.info-link {
    color: lightgreen;
}

.info-link:hover {
    color: darkgreen;
}