.general-info-body {
    background-color: #3e4450;
    color: white; 
    font-size: 16px;
    padding: 50px 0;
    text-align: left;
}

.info-block {
    padding: 0 8% !important;
    text-align: center;
}

.info-text {
    text-align: left;
}

.fa-icon {
    font-size: 50px;
    margin: 8% 0;
}

.fa-small-i-icon {
    font-size: 20px;
    margin-right: 5px;
}

.general-links {
    margin: 20px;
}

.info-link, .info-link:visited {
    color: #b9b9b7;
    text-decoration: none;
}

.info-link:active {
    color: #050607;
    text-decoration: none;
}

.info-link:hover {
    color: #050607;
}