/***********************************/
/* The different types of projects */
/***********************************/
.type-graphics {
    background-color: #dd8b84;
    fill: #dd8b84;
    color: #ddc9c7;
}
.type-graphics:hover {
    color: #935d58;
}

.type-webb {
    background-color: #90b85c;   
    fill: #90b85c;
    color: #cde4b0;
}

.type-webb:hover {
    color: #587630;
}

.type-game {
    background-color: #66cc9e;
    fill: #66cc9e;
    color: #c4f3de;
}

.type-game:hover {
    color: #2a815a;
}

.type-signal-processing {
    background-color: #46adb0;   
    fill: #46adb0;
    color: #b7e3e4;
}

.type-signal-processing:hover {
    color: #28797b;
}

.type-other {
    background-color: #f9af66;
    fill: #f9af66;  
    color: #fae5d1;
}

.type-other:hover {
    color: #bc6e22;
}


/***********************************/
/*    Overview of the projects     */
/***********************************/

.project {
    width:55vh;
    height: 40vh;
    margin: 10px;
    cursor: pointer;
    color: white;
    display:inline-block;
    vertical-align:top;
    -webkit-box-shadow: 0 0 5px #DCDCDC;
	-moz-box-shadow: 0 0 5px #DCDCDC;
    box-shadow: 0 0 5px #DCDCDC;
}

.project-image {
    width: 100%;
    height: 30vh;
}

.project-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 3px;
    color:white;
}

.project-course {
    font-size: 12px;
    margin:0;
    color:white;
}

.projects {
    padding: 10vh 0vh;
}

.projects-large-title {
    font-size: 50px;
    margin: 20px;
}

.types-of-projects {
    margin-bottom: 40px;
}

.colour-descriptions{
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
}

.desc-center {
    display:inline;
    vertical-align: middle;
}

/***********************************/
/*        Project in Modal         */
/***********************************/

.project-body {
    overflow: auto;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.project-links {
    margin-top: 10px;
}

.project-link {
    margin: 0 15px 0 0;
    padding: 0;
}

.project-link-icon {
    margin-right: 5px;
}

.project-info {
    margin: 0 0 5px 0;
}

.project-iframe-movie {
    padding-top: 20px;
    width: 35vw;
    max-width: 100%;
    height: 30vw;
    max-height: 350px; 
}

.mobile-movie {
    display: none;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none;
}

@media only screen and (max-width: 768px) {
    .project-link {
        display: block;
    }

    .project-iframe-movie {
        display: none;
    }

    .mobile-movie {
        display: block;
    }
}
  
