/***********************************/
/* The different types of projects */
/***********************************/
.type-graphics {
    background-color: #DD3B2C;
    fill: #DD3B2C;
    color: #EFA59F;
}
.type-graphics:hover {
    color: #A12B21;
}

.type-webb {
    background-color: #7cb82f;   
    fill: #7cb82f;
    color: #C3DEA0;
}

.type-webb:hover {
    color: #5B8623;
}

.type-game {
    background-color: #00CC70;
    fill: #00CC70;
    color: #8BE7BE;
}

.type-game:hover {
    color: #009552;
}

.type-signal-processing {
    background-color: #00AEB3;   
    fill: #00AEB3;
    color: #8BDADC;
}

.type-signal-processing:hover {
    color: #007F83;
}

.type-other {
    background-color: #F98B1D;
    fill: #F98B1D;  
    color: #FCCA98;
}

.type-other:hover {
    color: #B66616;
}


/***********************************/
/*    Overview of the projects     */
/***********************************/

.project {
    width:50vh;
    height: 38vh;
    margin: 10px;
    cursor: pointer;
    color: white;
    display:inline-block;
    vertical-align:top;
    -webkit-box-shadow: 0 0 5px #DCDCDC;
	-moz-box-shadow: 0 0 5px #DCDCDC;
    box-shadow: 0 0 5px #DCDCDC;
}

.project-image {
    width: 100%;
    height: 28vh;
}

.project-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 3px;
    color:white;
}

.project-course {
    font-size: 12px;
    margin:0;
    color:white;
}

.projects {
    padding: 10vh 0vh;
}

.projects-large-title {
    font-size: 50px;
    margin: 20px;
}

.colour-descriptions{
    display: inline-block;
    margin: 0 10px 40px 10px;
    font-size: 14px;
}

.desc-center {
    display:inline;
    vertical-align: middle;
}

/***********************************/
/*        The pop-up modal         */
/***********************************/

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.2);
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.modal-main {
    color: white !important;
    font-size: 14px;
    margin: auto auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 90vh;
    position: relative;
} 

.modal-separator {
    width: 80%;
    margin: 10px auto;
}

.modal-body {
    overflow: auto;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.project-links {
    margin-top: 10px;
}

.project-link {
    margin: 0 15px 0 0;
    padding: 0;
}

.project-link-icon {
    margin-right: 5px;
}

.project-info {
    margin: 0 0 5px 0;
}

.project-iframe-movie {
    padding-top: 20px;
    width: 35vw;
    max-width: 100%;
    height: 30vw;
    max-height: 350px; 
}

.mobile-movie {
    display: none;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none;
}

.close-btn {
    font-size: 25px;  
    position: absolute;
    right: 20px;
    top: 10px;
}

.close-btn:hover {
    cursor: pointer;
    text-shadow: 0 0 3px #666;
}

@media only screen and (max-width: 768px) {
    .project-link {
        display: block;
    }

    .modal-main {
        width: 80%;
    }

    .project-iframe-movie {
        display: none;
    }

    .mobile-movie {
        display: block;
    }
}
  
